[Desktop Entry]
##  The name of the application ##
Name=Stickerbook
GenericName=Display digital stickers

## A comment which act as a tooltip ##
Comment=Load and display digital stickers

## The executable of the application with optional args ##
## You can state full path too ##
Exec=stickerbook

## State the name of the icon that will be used to display this entry ##
Icon=com.github.toasterrepair.Stickerbook

## Is it a terminal app? For example htop will be set as Terminal=True ##
## Then default terminal app will be used to open the 'htop' ##
Terminal=false

##  The type as listed  ##
Type=Application
